/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: black;
}
/* Colors */
:root {
  --blue: #1d96e6;
  --pink: #f17f90;
  --yellow: #edba5a;
}
/* Common styles */
h2 {
  font-size: 2rem;
  text-align: center;
  margin-right: 0.5rem;
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* Header  */

.navbar {
  display: none;
}
.nav_container {
  background-color: var(--pink);
}
.nav_list_items {
  padding: 1.1rem;
  margin-bottom: 0;
}
.nav_list_items_li {
  padding: 0.3rem;
  text-align: center;
}
.nav_list_a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  font-weight: 600;
}
.nav_list_a:hover {
  box-shadow: 1px 1px 3px black;
}
.banner {
  background-color: var(--blue);
  height: 100vh;
}
h1,
.banner_t {
  font-size: 3rem;
  font-weight: 800;
  margin: 2rem;
}
.sticky {
  position: sticky;
}

/* Page Divider after Header */
.divider_one {
  width: 100%;
  height: 115px;
  background-color: #1d96e6;
  clip-path: polygon(0 0, 103% 0, 100% 100%, 0 calc(100% - 115px));
}
.divider_two {
  width: 100%;
  height: 115px;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 100% 115px, 100% 101%, 0 101%);
  margin-top: -105px;
}
/* About Section - 1 */
.about {
  background-color: var(--yellow);
  outline: 1px solid var(--yellow);
}
.about_me_photo {
  margin: 1rem;
  border-radius: 45%;
  border: 3px ridge var(--yellow);
}
.about_container_item {
  width: 70%;
}
.about_container_item p {
  text-align: center;
  margin: 1rem;
}
.sticky {
  position: fixed;
  bottom: 0;
  right: 1rem;
  z-index: 1;
}
.fa-arrow-up {
  font-size: 1.5rem;
  color: black;
}
.about_container_link {
  text-decoration: none;
  color: black;
  background: var(--pink);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.about_container_link:hover {
  box-shadow: 2px 2px 3px black;
}

/* Page Divider after Section 1 */
.divider_three {
  width: 100%;
  height: 115px;
  background-color: var(--yellow);
  clip-path: polygon(0 0, 103% 0, 100% calc(100% - 115px), 0 100%);
}
.divider_four {
  width: 100%;
  height: 115px;
  background-color: var(--blue);
  clip-path: polygon(0 115px, 100% 0, 100% 101%, 0 101%);
  margin-top: -105px;
}
/* Skills Section - 2 */
.skills {
  margin-top: -1px;
  background-color: var(--blue);
  padding-bottom: 3rem;
}
.skills_heading {
  margin-bottom: 1.5rem;
}
.tools {
  display: flex;
}
.tool_box {
  transition: transform 0.5s ease;
}
.tool_box:hover {
  transform: scale(1.3);
}
/* Page Divider after Section 2 */
.divider_five {
  background-color: var(--blue);
  width: 100%;
  height: 115px;
  clip-path: polygon(0 0, 103% 0, 100% 100%, 0 calc(100% - 115px));
}
.divider_six {
  background-color: var(--pink);
  width: 100%;
  height: 115px;
  clip-path: polygon(0 0, 100% 115px, 100% 101%, 0 101%);
  margin-top: -105px;
}
/* Portfolio Section - 3 */

.work {
  background-color: var(--pink);
}
.work_heading {
  margin-bottom: 3rem;
}
.pf_work {
  margin-bottom: 3rem;
  border: 1px solid var(--yellow);
  box-shadow: 0px 0px 4px var(--yellow);
  width: 350px;
  margin: 2rem;
}
.pf_work_para {
  text-align: center;
  margin: 1rem 1rem 0;
}
.pf_button {
  text-decoration: none;
  color: black;
  background-color: var(--yellow);
  padding: 0.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.pf_work a:hover {
  box-shadow: 2px 2px 3px black;
}
.pf_image {
  margin-bottom: 1rem;
  padding: 1rem;
}
.pf_tools_icons {
  margin: 1.5rem 0;
}
.icons {
  font-size: 1.5rem;
  margin: 0.5rem;
}
/* Page Divider after section - 3 */
.divider_seven {
  width: 100%;
  height: 115px;
  background-color: var(--pink);
  clip-path: polygon(0 0, 103% 0, 100% calc(100% - 115px), 0 100%);
}
.divider_eight {
  width: 100%;
  height: 115px;
  background-color: var(--blue);
  clip-path: polygon(0 115px, 100% 0, 100% 101%, 0 101%);
  margin-top: -105px;
}
.contact {
  background-color: var(--blue);
  outline: 1px solid var(--blue);
}
/* Contact Section - 4 */
.contact_heading_container {
  margin-bottom: 2rem;
}
.contact_heading {
  font-size: 1.5rem;
  text-align: center;
}
label,
input {
  display: block;
  width: 250px;
  font-weight: 500;
}
input {
  margin-bottom: 1rem;
  padding: 5px;
}
textarea {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
  padding: 5px;
}
[type="submit"] {
  background-color: var(--yellow);
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}
[type="submit"]:hover {
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}
/* Footer */
footer {
  background-color: var(--blue);
}
.socials {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.fa-brands {
  color: black;
  font-size: 3rem;
  margin: 2rem;
}
footer p {
  text-align: center;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}
/* Media Query*/

@media (max-width: 576px) {
  .sticky {
    display: none;
  }
  .navbar {
    display: block;
    background-color: var(--pink);
  }
  .nav_container {
    display: none;
  }
  h1,
  .banner_t {
    font-size: 1.75rem;
    margin: 1rem;
  }
  .about_me_photo {
    width: 70%;
  }
  .about_container_item {
    width: 100%;
  }
  .about_container_item p {
    margin: 1rem 2rem;
  }
  .ai {
    grid-area: a;
  }
  .html {
    grid-area: b;
  }
  .css {
    grid-area: c;
  }
  .github {
    grid-area: d;
  }
  .js-logo {
    grid-area: e;
  }
  .tools {
    display: grid;
    grid-template-areas:
      "a b"
      "c d"
      "e .";
  }
  .pf_work {
    width: 250px;
  }
  .pf_image {
    width: 250px;
  }
  .pf_tool_img {
    width: 60%;
  }
  .contact {
    padding: 2rem;
  }
  .socials {
    padding: 0;
  }
  .fa-brands {
    margin: 1rem;
  }
}
@media (max-width: 992px) {
  h1,
  .banner_t {
    margin: 0.75rem;
  }
}
